/*This CSS is from https://www.w3schools.com/howto/howto_css_responsive_form.asp*/

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
  }
  
  /* Style the submit button */
  button[type=submit] {
    padding: 12px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .contact-form {
    border: 1px solid  #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    width: 960px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-left: 320px;
    margin-right: 300px;
    
}
  
 
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 90%;
    margin-top: 6px;
    padding-left: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }