/*My About Page CSS*/


.card {
    display: inline-block;
    margin-bottom: 20px;

}


.AboutMe {
    padding-top: 40px;
}


.karlelisa {
    margin-right: 20px;

}


    
p {
    line-height: 10px;
    
}


.image-fluid {
    height: 5px;
}