.karlelisa {
    margin-right: 20px;
    border: 2px thick black;
}



.fixed-bottom {
    
    text-align: center;
}

body {
    background-image: url("../Images/sparkling-lights-tan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

}


.card {
    
p {
    line-height: 10px;
    
}


.image-fluid {
    height: 5px;
}